* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
:root{
    --primary-color:#19172e;
}
.dark-theme{
   --primary-color:#ffffff;
}
section {

    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

section::before {
    content: '';
    position: absolute;
    top: 10%;
    right: 30%;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(#f9d924, #ff2c24);
    animation: animate 5s ease-in-out infinite;
}

section::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: linear-gradient(#01d6ff, #0f24f9);
    animation: animate 5s ease-in-out infinite;
    animation-delay: -2.5s;
    /* importrant points*/
}

@keyframes animate {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(20px);
    }
}

/*------------------------------------------------------------------------------------CONTAINER-----------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 15%;

    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(20px);
    /*for glassmorphism effect*/
}

/*

.bg-red{
    
    background-color: antiquewhite;
    
}*/
.container div:nth-child() {
    height: 5%;
}

.container div:nth-child(1) {
    position: absolute;
    top: 0%;
    height: 45px;
}

.container div:nth-child(2) {
    position: absolute;
    top: 5%;
}

.container div:nth-child(3) {
    position: absolute;
    top: 25%;
}

.container div:nth-child(4) {
    position: absolute;
    top: 45%;
}

.container div:nth-child(5) {
    position: absolute;
    top: 65%;
}
.container div:nth-child(6) {
    position: absolute;
    top: 80%;
}

.container .row {
    border-radius: 30px;
    border-bottom: 2px solid rgb(196, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    position: absolute;

}

.container .row button {
    width: 15%;

    margin: 2px;
    padding: 10px;
}

/*----------------------------- BOX EFFECT-----------------------------------------*/
span:nth-child(3) {
    position: relative;
    background: linear-gradient(pink, purple);
    top: 35%;
    right: 50%;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 1px 1px 3px rgb(255, 192, 224),
        -1px 1px 3px #0f24f9;

    animation: animate 5s ease-in-out infinite;
    animation-delay: -3.5s;

}

span:nth-child(5) {
    position: relative;
    background: linear-gradient(pink, purple);
    top: 35%;
    right: 10%;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 1px 1px 3px rgb(255, 192, 224),
        -1px 1px 3px #0f24f9;

    animation: animate 5s ease-in-out infinite;
    animation-delay: -3.5s;

}

/*---------------------------------------------------------------------------------------*/
/*4th div child id name 4*/
span:nth-child(4) {
    position: relative;
    background: linear-gradient(rgb(72, 225, 80), rgb(6, 69, 2));
    top: 10%;
    left: 10%;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 1px 1px 3px 3px rgb(53, 229, 50),
        -1px 1px 3px 2px #e9f428;

    animation: animate 3s ease-in-out infinite;
    animation-delay: -4.5s;

}




/*------------------------------------------------------------------*/
/*2nd child id name 2*/
span:nth-child(2) {
    position: relative;
    background: linear-gradient(rgb(241, 21, 21), rgb(228, 170, 24));
    bottom: 200px;
    right: 20%;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 1px 1px 3px rgb(255, 192, 224),
        -1px 1px 3px #0f24f9;

    animation: animate 5s ease-in-out infinite;
    animation-delay: -3.5s;

}




/*------------------------------------------------------------*/

section .text-center {

    text-align: center;
}




/*buttons effetct------------------------------------------*/
.button {

    width: 20%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #e0e5ec;
    display: flex;
    justify-content: center;

    align-items: center;
    box-shadow: -2px -2px 4px 0px #e0e5ec,
        -4px -4px 2px 0px rgba(72, 238, 247, 0.786),
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001;

    font-size: 10pxpx;
    text-decoration: none;

    transition: border-radius 1s ease-out;

}

/* IMPORTANT POINTS*/
/*.box:active{
        box-shadow: 4px 4px 6px 0 rgb(0, 0, 0),
        -4px -4px 6px 0 rgb(255, 255, 255),
        inset -4px -4px 6px 0 rgba(154, 152, 152, 0.762),
        inset 4px 4px 6px 0 rgba(235, 228, 228, 0.268);
    }*/
.button:focus {
   
   
    border-radius:100px;
    outline: none;
    box-shadow: none;
    box-shadow: 4px 4px 6px 4px rgb(0, 0, 0),
        -4px -4px 6px 0 rgb(255, 255, 255),
        inset 4px 4px 6px 8px rgb(199, 198, 198),

        inset 6px 6px 5px 8px rgba(228, 225, 225, 0.479);
}

/* board----------------------------------------------------------------*/

.board {
    position: relative;
    
    width: 250px;
    height: 180px;
    backdrop-filter: blur(20px);
    bottom: 18%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 25px rgba(216, 211, 211, 0.233),
        inset 5px 0px 20px 0px rgba(0, 0, 0, 0.786);
    z-index: 1000;
    opacity: 0;
    border-radius: 0 20px 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(-100px);
    transition: all 1s ease-in-out;


}

.board .placeholder {
    position: absolute;
    height: 130px;
    width: 200px;
    top: 25px;
    left: 25px;
    border: #e0e5ec;

    box-shadow: -2px 2px 6px 1px rgba(255, 252, 252, 0.361),
        2px -2px 6px 1px rgba(255, 252, 252, 0.361);


}

.container .row4 button {
    position: absolute;
    background-color: rgba(150, 12, 0, 0.235);
    ;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    backdrop-filter: blur(20px);
    top: 6px;
    right: 5%;
    color: antiquewhite;
    font-weight: bolder;
    font-size: smaller;
    border: #e0e5ec;

}

.container .row4 {
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    position: absolute;


}

.board .cross {
    position: absolute;
    background-color: rgba(179, 132, 127, 0.235);
    ;
    border: none;
    border-radius: 100%;
    width: 7%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    backdrop-filter: blur(20px);
    top: 2px;
    right: 5%;
    color: antiquewhite;
    font-weight: bolder;
    font-size: .4cm;
    box-shadow: -2px 2px 2px 0 #e0e5ec;

}
.wrapper .Moon{
    position: absolute;
    top:10px;
    left: 10px;
    color: rgb(111, 23, 23);
    font-weight: 800;
    
}